body,html{
margin:0;padding:0;background:#fff;font-size:14px;
font-family:Arial,Helvetica,'STHeiti','MicrosoftYaHei','sans-serif'
}
form,ul,li,p,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
img{border:0;}
ul,li{list-style-type:none;}
a{color:black;text-decoration:none;margin:0;padding:0;}
a:hover{text-decoration:none;}
.topbar{
	width:100%;
	background-color: #333;
	color:#eee;
	font-size: 14px;
	height:34px;
	line-height: 34px;
}
.topbar .topnav{
	width:960px;
	margin:0 auto;
	color:#ccc;
}
.topbar .topnav p a{
	padding:0 6px;
	color:#eee;
	display: inline;
}
.topbar .topnav b{
	color:#666;
	padding:0 4px;
}
.head{
	width:960px;
/*	height:70px;*/
	display: block;
	/*border:1px solid;*/
	margin:0 auto;
}
.head .headLogo{
	/*display: block;*/
	/*width:1100px;*/
	height:70px;
/*	margin:0 auto;*/
	position:relative;
}
.head .headLogo .logo{
	float:left;
	width:260px;
	height:70px;
}
.head .person{
	float:right;
	line-height:70px;
	margin-right:20px;
}
.head .person a:hover{
	color:red;
}
.head .person .login,.reg{
    display: inline-block;
    font-size:15px;
    margin-top:10px;
}
#head .head_con .person .reg{
    margin-right:20px;
}
.head .headLogo .logo_caipu{
	background: url(../img/logo_caipu.jpg) no-repeat left 8px;
}
.head .headMenu{
	/*display: block;*/
	/*width:1100px;*/
	height:40px;
	line-height:39px;
	border:1px solid #e3e3e3;
	border-radius:3px;
}
.head .headMenu li{
	display: block;
	padding-left:10px;
}
.head .headMenu li a{
	float:left;
	padding:0 30px;
	font-size:16px;
}
.head .headMenu li a:hover{
	color:red;
}
.head .headMenu li a.cp{
	border-right:1px solid #f3f3f3;
	height:20px;
	line-height:20px;
	padding-right:25px;
	margin-top:9px;
	margin-right:5px;
	font-size:18px;
}
.clear15{
	display: block;
	clear:both;
	width:100%;
	height:15px;
	overflow: hidden;
}
.clear{
	clear:both;
	height:0;
	overflow: hidden;
	display: block;
}
.content{
	width:960px;
	margin:0 auto;
	overflow: hidden;
	/*border:1px solid red;*/
}
.content .con_left{
	width:610px;
	float:left;
	margin-bottom:20px;
	border:1px solid blue;
}
.content .con_left h1{
	width:600px;
	padding:0 0 5px 10px;
	border-bottom:1px solid #1bbc9b;
	color:#1bbc9b;
	font-size:22px;
}
/*.content .con_left .news_lists .news_item{
	padding:23px 0 24px;
	border-bottom:1px dotted #e5e5e5;
	height:132px;
}
.content .con_left .news_lists .news_item .news_info{
	height:129px;
}
.content .con_left .news_lists .news_item .news_info h2{
	font-size:18px;
	line-height: 24px;
	margin-bottom:10px;
	font-weight: normal;
	margin-left: 180px;
}
.content .con_left .news_lists .news_item .news_info .pic_link{
	float:left;
	margin-top:-30px;
	margin-right:0;
	position: relative;
	width:150px;
	height:110px;
	overflow: hidden;
	display: block;
}
.content .con_left .news_lists .news_item .news_info p{
	font-size:13px;
	color:#888;
	line-height:22px;
	height:85px;
	margin-left:180px;
}
.content .con_left .news_lists .news_item .news_tags{
	height:24px;
	line-height: 24px;
	margin-top: -15px;
	margin-left: 180px;
}
.content .con_left .news_lists .news_item .news_tags a{
	display: inline-block;
	color:#fff;
	background:#1bbc9b;
	line-height:14px;
	height:14px;
	padding:2px 5px 2px;
	margin-right:0;
}*/
.content .con li{
	position: relative;
	border-bottom:1px solid #dddddd;
	height:150px;
}
.content .con li img{
	float:left;
	vertical-align: middle;
}
.content .con li .boxian{
	float:right;
	height:130px;
	padding:0 10px;
	width:400px;
	background: none;
	padding-top:10px;
}
.content .con li h4{
	height:26px;
	line-height: 26px;
	overflow: hidden;
	font-weight: normal;
	font-size:16px;
}
.content .con li h4 a{
	color:#444;
}
.content .con li h4 a:hover{
	color:#f19100;
}
.content .con li .tag{
	margin:1px 0 3px;
	color:#07793e;
}
.mt15{
	margin-top: 15px;
}
.content .con li p{
	color:#888;
	line-height: 1.8;
	height:60px;
	overflow: hidden;
	font-size:12px;
}
.clearfix{
	display: block;
}
.content .con_right{
	width:336px;
	/*border:1px solid;*/
	float:right;
}
.content .con_right .helper .tit{
	width:336px;
	position:relative;
	height:27px;
	margin:0 auto;
	color:#49b79b;
	background: url(../img/tit.png) no-repeat left center;
	font-size:22px;
	line-height: 27px;
	padding-left:15px;
}
.content .con_right .helper .tit i{
	display: block;
	position: absolute;
	height:27px;
	background: url(../img/line.jpg) repeat-x center center;
	top:2px;
	right:5px;
	width:200px;
}
.content .con_right .helper ul{
	padding:20px 0 0 0;
	overflow: hidden;
	width:330px;
	margin:0 auto;
}
.content .con_right .helper ul li{
	float:left;
	width:100px;
	height:125px;
	margin-right:10px;
}
.content .con_right .helper ul li a{
	width:100%;
	height:100%;
	display: block;
}
.content .con_right .helper ul li img{
	width:60px;
	height:60px;
	margin-left:20px;
}
.content .con_right .helper a p{
	color:#888;
	font-size:18px;
	text-align:center;
	line-height: 35px;
	font-weight:bold;
}
.content .con_right .ceshi{
	width:300px;
	height:200px;
	/*border:1px solid;*/
	margin:20px auto;
}
.content .con_right .rcon h1{
	color:#1bbc9b;
	font-size:22px;
	padding:0 0 5px 10px;
}
.content .con_right .rcon .ultu2{
	padding:5px 0 5px 10px;
}
/*.content .con_right .rcon .ultu2 li{
	margin-top: 10px;
}*/
.clearfix{
	display: block;
}
.content .con_right .rcon .ultu2 img{
	float:left;
	margin-right: 8px;
}
.content .con_right .rcon .ultu2 h4{
	font-size:14px;
	font-weight: bold;
	height:18px;
	line-height: 18px;
	overflow: hidden;
	margin:0 0 10px 0;
}
.content .con_right .rcon .ultu2 p{
	color:#777;
	padding:0 35px 30px 0;
	font-size:12px;
}
.content .con_table{
	border:1px solid green;
	height:400px;
}
.content .liuyan{
	border:1px solid red;
	/*height:300px;*/
}
.footer{
	display: block;
	clear: both;
	width:100%;
	height:60px;
	line-height:40px;
	background-color:#e7e7e7;
	border-top:1px solid #ddd;
	overflow: hidden;
}
.footer .foot{
	display: block;
	margin:0 auto;
	width:1000px;
	text-align:center;
	padding:10px 0;
	overflow: hidden;
}
#schedule-box{
	width: 300px;
	margin: 0 auto;
	padding: 10px 10px;
	font-size: 13px;
}
.schedule-hd{
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
}
.today{
	flex: 1;
	text-align: center;
}
.ul-box{
	overflow: hidden;
}
.ul-box > li{
	float: left;
	width: 14.28%;
	text-align: center;
	padding: 5px 0;
}
.other-month{
	color: #999999;
}
.current-month{
	color: #333333;
}
.today-style{
	border-radius: 50%;
	background: #58d321;
}
.arrow{
	cursor: pointer;
}
.dayStyle{
	display: inline-block;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	text-align: center;
	line-height: 35px;
	cursor: pointer;
}
.current-month > .dayStyle:hover{
	background: #00BDFF;
	color: #ffffff;
}
.today-flag{
	background: #00C2B1;
	color: #fff;
}
.boxshaw{
	box-shadow: 2px 2px 15px 2px #e3e3e3;
}
.selected-style {
	background: #00BDFF;
	color: #ffffff;
}
.back{
	position: fixed;
	left:50%;
	margin-left:550px;
	bottom:75px;
	display: none;
}
.icon_back{
	display: inline-block;
	width:50px;
	height:50px;
	background:#1bbc9b;
	text-align: center;
	font-size:35px;
	line-height:60px;
	color:white;
}
.active a{
	color:#1bbc9b;
}