*{
	margin:0 auto;
}
body{
	width:1000px;
}
.head{
	width:1000px;
	height:25px;
	/*border:1px solid red;*/
}
.head_l{
	width:500px;
	height:25px;
	float:left;
	/*border:1px solid red;	*/
}
.head_r{
	width:400px;
	height:25px;
	float:right;
	/*border:1px solid red;	*/
}

.head_l a{
	float:left;
	padding-top:3px;
	/*border:1px solid red;*/
}
.l2 a{
	padding-left:15px;
}
a{
	text-decoration:none;
	font-size:15px;
	color:black;
}

.head_r a{
	float:right;
	padding-right:5px;
	padding-top:3px;
}
.logo{
	width:1000px;
	height:70px;
	/*border:1px solid red;*/
	margin-top:10px;
}
.logo h1{
	font-size:40px;
	color:yellow;
	margin-top:17px;
}
.content{
	height:400px;
	margin-top:10px;
	border:1px solid gray;
}
.t{
	padding:0 10px;
	height:30px;
	border-top:1px solid white;
	line-height:30px;
	background:#f4f4f4;
}
.t h3{
	font-size:20px;
}
.t .y{
	float:right;
}
.con{
	width:500px;
	height:250px;
	margin:50px  auto;
	/*border:1px solid red;*/
}


.foot{
	text-align:center;
	font-size:15px;
	line-height:20px;
	color:#999;
	margin:30px;
}
table tr td input{
	width:240px;
	height:20px;
	margin:7px;
}
.submit{
	width:100px;
	height:30px;
}
.tijiao{
	text-align:center;
}
.text1{
	width:100px;
}
.button1{
	width:80px;
	height:25px;
	margin:7px;
}
.footer{
    display: block;
    clear: both;
    width:100%;
    height:60px;
    line-height:40px;
    background-color:#e7e7e7;
    border-top:1px solid #ddd;
    overflow: hidden;
}
.footer .foot{
    display: block;
    margin:0 auto;
    width:1000px;
    text-align:center;
    padding:10px 0;
    overflow: hidden;
}