body,html{
margin:0;padding:0;background:#fff;font-size:14px;
font-family:Arial,Helvetica,'STHeiti','MicrosoftYaHei','sans-serif'
}
form,ul,li,p,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
img{border:0;}
ul,li{list-style-type:none;}
a{color:black;text-decoration:none;margin:0;padding:0;}
a:hover{text-decoration:none;}
.topbar{
	width:100%;
	background-color: #333;
	color:#eee;
	font-size: 14px;
	height:34px;
	line-height: 34px;
}
.topbar .topnav{
	width:1100px;
	margin:0 auto;
	color:#ccc;
}
.topbar .topnav p a{
	padding:0 6px;
	color:#eee;
	display: inline;
}
.topbar .topnav b{
	color:#666;
	padding:0 4px;
}
.head{
	width:960px;
	display: block;
	border:1px solid;
	margin:0 auto;
}
.head .headLogo{
	/*display: block;*/
	/*width:1100px;*/
	height:70px;
/*	margin:0 auto;*/
	position:relative;
}
.head .headLogo .logo{
	float:left;
	width:260px;
	height:70px;
}
.head .headLogo .logo_caipu{
	background: url(../img/logo_caipu.jpg) no-repeat left 8px;
}
.head .headMenu{
	/*display: block;*/
	/*width:1100px;*/
	height:40px;
	line-height:39px;
	border:1px solid #e3e3e3;
	border-radius:3px;
}
.head .headMenu p{
	display: block;
	padding-left:10px;
}
.head .headMenu p a{
	float:left;
	padding:0 30px;
	font-size:16px;
}
.head .headMenu p a:hover{
	color:red;
}
.head .headMenu p a.cp{
	border-right:1px solid #f3f3f3;
	height:20px;
	line-height:20px;
	padding-right:25px;
	margin-top:9px;
	margin-right:5px;
	font-size:18px;
}
.clear15{
	display: block;
	clear:both;
	width:100%;
	height:15px;
	overflow: hidden;
}
.content{
	width:960px;
	margin:0 auto;
	overflow: hidden;
	border:1px solid red;
}
.content .con_left{
	width:620px;
	padding-right: 40px;
	display: inline-block;
	float:left;
	/*border:1px solid blue;*/
}
.content .con_left .introduce{
	background: url(../img/icon.png) no-repeat top right;
	color:#444;
	border-bottom:1px dashed #d9d9d9;
	padding-bottom:30px;
}
.content .con_left .introduce h2{
	color:#88bd43;
	font-size:30px;
	line-height:85px;
	font-weight: normal;
}
.content .con_left .introduce p{
	margin:0;
	padding:0;
	font-size:14px;
	line-height:24px;
	text-align:left;
	background: #fbfbfb;
}
.content .con_left .news{
	height:150px;
	padding-bottom:15px;
	overflow: hidden;
	border-bottom:1px solid #eaeaea;
}
.content .con_left .news a{
	color:#3f3f3f;
}
.content .con_left .news a img{
	float:left;
	width:190px;
	display: inline-block;
	height:132px;
	padding-right:20px;
	padding-top:15px;
}
.content .con_left .news .news_tit{
	width:410px;
	height:40px;
	overflow: hidden;
	display: inline-block;
	float:left;
	line-height:40px;
	padding-top:10px;
	color:#909090;
	font-size:12px;
}
.content .con_left .news .news_tit h4{
	font-size:16px;
	display: block;
	float:left;
	width:300px;
	height:40px;
	text-align:left;
	margin:0;
	padding: 0;
}
.content .con_left .news .news_tit h4 a:hover{
	color:#2aa53b;
}
.content .con_left .news .news_tit em{
	display: block;
	float: right;
	text-align: left;
	color:#2aa53b;
	line-height:35px;
}
.content .con_left .news .news_tit em img{
	width:18px;
	height:12px;
	margin:0;
	padding:12px 5px;
}
.content .con_left .news p{
	display: inline-block;
	float:left;
	width:410px;
	height:65px;
	font-size:12px;
	overflow: hidden;
	color:#7f7f7f;
	line-height:22px;
}
.content .con_left .news span{
	display: inline-block;
	float:left;
	width:205px;
	overflow: hidden;
	font-size:12px;
	padding-top:10px;
	height:20px;
	color:#b9b9b9;
}
.content .con_left .news span a{
	color:#2aa53b;
	padding:0 5px;
}
.content .con_left .news .news_span1{
	text-align:right;
}
.clear{
	clear:both;
}
.content .con_right{
	width:300px;
	/*border:1px solid;*/
	float:left;
	display: inline-block;
	overflow: hidden;
}
.content .con_right .hot_tit{
	border-bottom:1px solid #e3e3e3;
	height:70px;
	margin-bottom:15px;
}
.content .con_right .hot_tit h3{
	border-bottom:1px solid #2aa53b;
	display: block;
	float:left;
	line-height:70px;
	font-size:18px;
	font-weight:bold;
	color:#7f7f7f;
}
.content .con_right .hot_img1,.hot_img2{
	width:142px;
	height:150px;
	display: inline-block;
	float:left;
	padding-right:14px;
}
.hot_img2{
	padding-right:0;
}
.content .con_right .hot_img1 img,.hot_img2 img{
	width:142px;
	height:100px;
	vertical-align: middle;
}
.content .con_right .hot_img1 p a,.hot_img2 p a{
	width:142px;
	height:45px;
	padding-top:5px;
	text-align:center;
	background:#8dc140;
	color:#fff;
	line-height:20px;
	display: block;
}
.content .con_right .hot ul{
	padding-top:10px;
	padding-bottom:20px;
	margin:0;
	text-align: left;
}
.content .con_right .hot ul li{
	background:url(../img/icon4.png) no-repeat 0 12px;
	padding-left:16px;
	text-align:right;
	color:#939393;
	overflow: hidden;
	line-height:28px;
	height:28px;
	font-size:13px;
}
.content .con_right .hot ul li a{
	width:220px;
	display: block;
	float:left;
	text-align:left;
	font-size:14px;
	overflow: hidden;
}
.content .con_right .hot ul li a:hover{
	color:green;
}
.content .con_left #pages{
	width:620px;
	height:30px;
	margin:20px auto;
	text-align:center;
}
.content .con_left #pages button{
	width:30px;
	height:30px;
	text-align: center;
	margin-left: 10px;
}
.footer{
	display: block;
	clear: both;
	width:100%;
	height:60px;
	line-height:40px;
	background-color:#e7e7e7;
	border-top:1px solid #ddd;
	overflow: hidden;
}
.footer .foot{
	display: block;
	margin:0 auto;
	width:1000px;
	text-align:center;
	padding:10px 0;
	overflow: hidden;
}